


/* Thumbs up/down */

.toggle-button.MuiToggleButton-root.Mui-selected{
  color: #3fed45;
  background-color:#9e9e9e17;
}

/* Whole Post */
.entry-parent-container {
  border-width: 60%;
  border-style: outset;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  box-shadow: 5em;
  width: 60%;
}


/* .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: lightskyblue;
  } */

  /* <button class="MuiButtonBase-root MuiToggleButton-root MuiToggleButton-sizeMedium MuiToggleButton-standard toggle-button css-ueukts-MuiButtonBase-root-MuiToggleButton-root" tabindex="0" type="button" value="thumb-up-off-alt" aria-pressed="false"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium thumb css-i4bv87-MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ThumbUpOffAltIcon"><path d="m13.11 5.72-.57 2.89c-.12.59.04 1.2.42 1.66.38.46.94.73 1.54.73H20v1.08L17.43 18H9.34c-.18 0-.34-.16-.34-.34V9.82l4.11-4.1M14 2 7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.83C7 18.95 8.05 20 9.34 20h8.1c.71 0 1.36-.37 1.72-.97l2.67-6.15c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2zM4 9H2v11h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1z"></path></svg><span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span></button> */